html {
    scroll-behavior: smooth;
}

body{
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

h1{
    font-size: 40px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    margin:0;
    margin-bottom: 24px;
}

h2{
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    margin: 48px 0;
    font-size: 40px;
    margin: 0;
}

h3{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding:0;
    margin: 0;
}

li{
    margin: 30px;
    padding: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.logo{
    width: 100px;
    height: auto;

}

.flower{
    width: 50px;
    height: auto;
    animation: rotate 5s linear infinite;
}

.header-container{
    width: 100%;
    position: relative;
    transition: background-color 0.3s ease; 
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 168px 0;
    background-color: #C9E5FF;
}

.container img{
    width: 100%;
    height: auto;
}

.project-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 70%;
    margin-bottom: 24px;
    flex-wrap: wrap;

}
.skills p {
    font-family: 'Lato', sans-serif; /* Use a specific font */
    text-transform: uppercase; /* Make the text uppercase */
    border: 2px solid #333333; /* Add a border */
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin: 0;
}

.project-description{
    width: 70%;
    text-align: left;
    gap: 48px;
    display: flex;
    flex-direction: column;

}

.project-description p span{
   margin-bottom: 12px;
   display: block;
}

.project-description-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.project-description-box h3{
 text-align: center;
}

.box{
    width: 400px;
    height: 280px;
    background-color: #FFFED6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
}

.research-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    background-color: #FFF1F1;
    flex-direction: column;
    padding: 168px 0;
}

.research{
    width: 70%;
}

.moodboard-image img{
    width: 600px;
    height: auto;
}

.design-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    padding: 168px 0;
}
.design{
    width: 70%;

}
.wireframe-images img{
    width: 600px;
    height: auto;
}

.wireframe-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.low-fi-prototype-images img, .high-fi-prototype-images img{
    width: 300px;
    height: 900px;
}

.low-fi-prototype-images, .high-fi-prototype-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.wireframe-container, .low-fi-container{
    margin-bottom: 80px;
}

.final-product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    width: 100%;
    padding: 168px 0;
    background-color: #F4F4F4;
}

.final{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-product-text{
    width: 70%;
    text-align: left;
}

.final-product-text h2{
    text-align: center;
}

.final-product-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.final-product-images img{
    width: 600px;
    height: auto;
}

.project-image-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 24px;
}

.project-image-container img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.project-description-container{
    width: 70%;
    text-align: center;
    gap: 48px;
    display: flex;
    flex-direction: column;
}

.hamburger__nav{
    display: none;

}
.nav-menu-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #EAD2FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding-top: 50px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.nav-menu-mobile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.nav-menu-mobile li {
    padding: 10px 20px;
}

.nav-menu-mobile a {
    font-size: large;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

 @media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .nav-menu-desktop{
        display: none;
    }
    .hamburger__nav{
        display: flex;
    }
    .flower{
        width: 50px;
    }
    .hamburger__nav{
        display: flex;
        justify-content: space-between;
        padding: 46px 25px 25px 25px;
        align-items: center;
    }
    .fas.fa-bars{
        font-size: 30px;
        color: #333333;
    }
    .container {
        padding: 100px 0;
    }
    .moodboard-image img{
        width: 350px;
    }

    .wireframe-images img{
        width: 350px;
    }

    .low-fi-prototype-images img, .high-fi-prototype-images img{
        width: 150px;
        height: auto;
    }
    .final-product-images img {
        width: 350px;
    }
    .project-image-container{
        gap: 20px
    }
}
