body{
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.nav{
    margin-bottom:80px;
}

#Elements{
    width: 120px;
    height:auto;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding:0;
    margin: 0;
}

li{
    margin: 30px;
    padding: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}
.flower{
    width: 60px;
    height: auto;
}
.header-container{
    background-color: #EAD2FF;
    width: 100%;
    position: relative;
    height: 100vh;
    transition: background-color 0.3s ease; 
    margin-bottom: 104px;
}

.container{
    text-align: center;
    margin: 240px 0;
    position: relative;
}

h1{
    font-size: 120px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    margin:0;
}

h2{
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 70px 24px 70px;
    font-size: 56px;
}

h3{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    margin: 20px 0;;
}

h4{
    font-weight: bold;
    font-family: 'Lato', sans-serif;

}
.arrow-wrapper {
    display: flex;
    justify-content: flex-end; /* Align the arrow to the right */
    width: 90%; /* Ensure it takes the full width of the container */
}

.arrow {
    width: 60px;
    height: auto; /* Maintain aspect ratio */
}
.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-bottom: 104px;
}
.project{
    margin: 0 70px;

}
.project-image{
    width: auto;
    height: 470px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.project:hover .project-image {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.overlay span {
    font-size: 24px; /* Adjust the font size */
    font-family: 'Lato', sans-serif; /* Use a specific font */
    text-transform: uppercase; /* Make the text uppercase */
    border: 2px solid #F9F9F9; /* Add a border */
    border-radius: 20px;
    padding: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.7); /* semi-transparent overlay */
    color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.project-image:hover .overlay {
    opacity: 1;
    z-index: 1;
}

.skills p, .skills h4{
    margin:0;
}

.about-me-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 70px;
    gap: 20px;
}

.about-me{
    padding: 136px 0;
}

.connect{
    padding: 136px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-content p{
    margin: 0;
}

.icon{
    width: 70px;
    height: 70px;
    margin: 20px;
}

.skills {
    height: 90px;
    background-color: #c9e5ff;
    display: flex;
    align-items: center;
    overflow: hidden; /* Hide the overflow to make the text slide in and out */
}

.skills-wrapper {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite; /* Animation for the sliding effect */
}

.skills:hover .skills-wrapper {
    animation-play-state: paused; /* Pause the animation on hover */
}

.skills p {
    font-size: 36px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    display: inline-block;
    margin-right: 15px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}