 body{
  background-color:#d9ead3;
 }
 
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 
 .scale {
   position: absolute;
   background: url(images/spritesheet.png) 0 0 no-repeat;
   width: 325px;
   height: 239px;
   animation: move 4s steps(32) infinite ;
    
   
  }
  @keyframes move {
     0% { background-position: 0 0; }
     100% { background-position: -10402px 0;}
   }
   
   @media (max-width: 768px) {
      .scale {
          width: 162.5px;  /* Half of the original width */
          height: 119.5px;  /* Half of the original height */
          background-size: 5201px 119.5px; /* Scale the background size proportionally */
      }
  
      @keyframes move {
          0% { background-position: 0 0; }
          100% { background-position: -5201px 0; } /* Adjust the final background position accordingly */
      }
  }